header {
  background-color: #4b7bec;
  color: white;
  text-align: center;
  padding: 12px 0;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
header h1 {
  margin: 0;
}
body {
  margin: 0;
}
main {
  padding: 12px;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px 15px -15px;
}
.movie-item {
  width: 25%;
}

@media (max-width: 900px) and (min-width: 600px) {
  .movie-item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .movie-item {
    width: 100%;
  }
}

.movie-item .movie-card {
  padding: 24px;
  border-radius: 10px;
  margin: 15px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.movie-item .movie-card h2 {
  margin: 0 0 4px 0;
}

.movie-item .movie-card p {
  margin: 0 0 12px 0;
  color: grey;
  font-size: 0.8em;
}

.movie-item .movie-card .likes {
  margin: -8px 0;
}

.movie-item .movie-card .likes i {
  margin: 0 0 0 4px;
  font-size: 1.3em;
  cursor: pointer;
}
.movie-item .movie-card .likes i.active {
  color: #4b7bec;
}

.movie-item .movie-card .likes > div {
  display: flex;
  margin: 8px 0;
}

.movie-item .movie-card .likes .count {
  font-size: 0.8em;
}

.like {
  align-items: end;
}
.deslike {
  align-items: start;
}

.movie-item .movie-card .actions {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.btn:disabled {
  background-color: #ddd;
}
.btn {
  background-color: white;
  padding: 6px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

.btn-blue {
  background-color: #4b7bec;
  color: white;
}
.btn-blue-active {
  background-color: #8854d0;
  color: white;
}

.btn-danger {
  background-color: #eb3b5a;
  color: white;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

@media (max-width: 600px) {
  .pagination > div {
    width: 100%;
  }
  .pagination .pages-list ul {
    justify-content: center;
  }
}
.pagination .pages-list {
  flex-grow: 1;
  margin-bottom: 30px;
}
.pagination .pages-list ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 -6px;
}
.pagination .pages-list ul li {
  margin: 0 6px;
}
.pagination select {
  padding: 6px 16px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.categories-filter {
  margin-bottom: 30px;
}
.categories-filter .categories-filter-select {
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
}
.categories-filter .categories-filter-select > div {
  border: none !important;
}

.range-select-container {
  display: flex;
  justify-content: center;
}
